# Resources required by the sample browser and most samples.


# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.

[General]
#FileSystem=Media
#FileSystem=Media/fonts
#FileSystem=Media/materials
#FileSystem=Media/materials/programs
#FileSystem=Media/materials/scripts
FileSystem=Media/materials/textures
#FileSystem=Media/materials
FileSystem=Media/models
#FileSystem=Media/particle
FileSystem=Media/CameraGame/overlay
FileSystem=Media/CameraGame/material
FileSystem=Media/CameraGame/mode
FileSystem=Media/CameraGame/texture

[sdktrays]
Zip=Media/SdkTrays.zip