
template container Panel(cz/ImageButton)
{
	metrics_mode pixels
	material cz/Button/Down
	horz_align center
      vert_align center
	width 128
	height 128
}


template container Panel(cz/TimeImageButton)
{
	metrics_mode pixels
	material cz/Button/Down
      uv_coords 0.21 0.28 0.70 0.82

	horz_align center
      vert_align center
	width  128
	height 128
   

     element Panel(DeleteImage)
	{
        metrics_mode pixels
        material cz/TimeImageButton/DeleteButton
        
        left   100
        top    55
        width  50
        height 50

        
	}

}

template container Panel(cz/CaptureFace/StaticImage)
{
	metrics_mode relative
	material cz/CaptureFaceImage/mat
      uv_coords 0 0.1 0.9375 1.0
	horz_align left
      vert_align top
      left  0
      top   0
	width 1.0
	height 1.0
}




//选择头套滚动控件         
template container Panel(cz/SliderGallery)
{

     metrics_mode pixels
    // material cz/Button/Down 
	horz_align left
      vert_align top
      left  0
      top   0
	width 960
	height 640

          element Panel(cz/SliderGallery/button/1)
             {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                 horz_align left
                 vert_align center
                 left 102
                top  -120
                width 260
                height 240

             }

          element Panel(cz/SliderGallery/button/2)
             {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                 horz_align left
                 vert_align center

                left 308
                top  -160
                width 350
                height 330

             }

             element Panel(cz/SliderGallery/button/3)
             {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                horz_align left
                vert_align center

                left 600
                top  -120
                width 260
                height 240

             }






      element Panel(cz/SliderGallery/PreviousButton)
      {
         metrics_mode pixels
         material cz/SliderGallery/PrevisousButton/mat
         horz_align left
         vert_align center

         left 0
         top  -40
         width 80
         height 80
           
      }

     element Panel(cz/SliderGallery/NextButton)
      {
         metrics_mode pixels
         material cz/SliderGallery/NextButton/mat
         horz_align right
         vert_align center

         left -80
         top  -40
         width 80
         height 80
           
      }


}




//模式三选择不同的武器界面
template container Panel(cz/Select/Arms)
{

//指定外框大小，无背景材质
      metrics_mode pixels
     	horz_align left
      vert_align bottom
      left  150
      top   -90
	width 660
	height 80

//背景底图
      element Panel(cz/Select/Arms/background)
       {
           material cz/Select/Arms/background/mat
           horz_align left
           vert_align bottom
           left 80
           top  -100
           width 500
           height 100
       }

//上一个按钮
      element Panel(cz/Select/Arms/PreviousButton)
      {
         metrics_mode pixels
         material cz/SliderGallery/PrevisousButton/mat
         horz_align left
         vert_align top
         left 0
         top  0
         width 80
         height 80
          
      }
//下一个按钮
    element Panel(cz/Select/Arms/NextButton)
      {
         metrics_mode pixels
         material cz/SliderGallery/NextButton/mat
         horz_align right
         vert_align top
         left -80
         top  0
         width 80
         height 80
      }

//五个滚动按钮
     element Panel(cz/Select/Arms/button/1)
          {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                horz_align left
                vert_align center
                left 100
                top  -32
                width 64
                height 64

           }

          element Panel(cz/Select/Arms/button/2)
             {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                horz_align left
                vert_align center

                left 200
                top  -32
                width 64
                height 64

             }

         element Panel(cz/Select/Arms/button/3)
             {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                horz_align left
                vert_align center

                left   300
                top    -32
                width  64
                height 64

             }

        element Panel(cz/Select/Arms/button/4)
             {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                horz_align left
                vert_align center

                left   400
                top    -32
                width  64
                height 64

             }

            element Panel(cz/Select/Arms/button/5)
             {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                horz_align left
                vert_align center

                left   500
                top    -32
                width  64
                height 64

             }

}




