template container Panel(cz/ImageButton)
{
	metrics_mode pixels
	material cz/Button/Down
      
	horz_align center
      vert_align center
	width 128
	height 128
}


template container Panel(cz/TimeImageButton)
{
	metrics_mode pixels
	material cz/Button/Down
      
	horz_align center
      vert_align center
	width 100
	height 100

     element Panel(DeleteImage)
	{
        metrics_mode pixels
        material cz/TimeImageButton/DeleteButton
        left  68
        top   0
        width 32
        height 32

        
	}

}



template container Panel(cz/SliderGallery)
{

     metrics_mode pixels
     material cz/Button/Down
      
	horz_align center
      vert_align center
	width 600
	height 150

   container Panel(cz/SliderGallery/Backgroud)
      {
         metrics_mode pixels
         material cz/SliderGallery/Backgroud/mat
         left 120
         top  0
         width 400
         height 120
         element Panel(cz/SliderGallery/1)
             {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                left 0
                top  0
                width 80
                 height 80

             }

          element Panel(cz/SliderGallery/2)
             {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                left 100
                top  0
                width 80
                 height 80

             }

              element Panel(cz/SliderGallery/3)
             {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                left 200
                top  0
                width 80
                 height 80

             }



           
      }



      element Panel(cz/SliderGallery/PreviousButton)
      {
         metrics_mode pixels
         material cz/SliderGallery/PrevisousButton/mat
         left 0
         top  20
         width 100
         height 100
           
      }

     element Panel(cz/SliderGallery/NextButton)
      {
         metrics_mode pixels
         material cz/SliderGallery/NextButton/mat
         left 500
         top  20
         width 100
         height 100
           
      }


}

