template container Panel(cz/ImageButton)
{
	metrics_mode pixels
	material cz/Button/Down
      
	horz_align center
      vert_align center
	width 128
	height 128
}


template container Panel(cz/TimeImageButton)
{
	metrics_mode pixels
	material cz/Button/Down
      
	horz_align center
      vert_align center
	width 100
	height 100

     element Panel(DeleteImage)
	{
        metrics_mode pixels
        material cz/TimeImageButton/DeleteButton
        left  68
        top   0
        width 32
        height 32

        
	}

}



template container Panel(cz/SliderGallery)
{

     metrics_mode pixels
   //material cz/Button/Down
      
	horz_align left
      vert_align top
      left  0
      top   0
	width 960
	height 640

          element Panel(cz/SliderGallery/1)
             {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                 horz_align left
                 vert_align center

                
                left 129
                top  -64
                width 128
                height 128

             }

          element Panel(cz/SliderGallery/2)
             {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                 horz_align left
                 vert_align center

                left 352
                top  -128
                width 256
                height 256

             }

             element Panel(cz/SliderGallery/3)
             {
                material cz/SliderGallery/Button/mat
                metrics_mode pixels
                horz_align left
                vert_align center

                left 704
                top  -64
                width 128
                height 128

             }






      element Panel(cz/SliderGallery/PreviousButton)
      {
         metrics_mode pixels
         material cz/SliderGallery/PrevisousButton/mat
         horz_align left
         vert_align center

         left 0
         top  -64
         width 128
         height 128
           
      }

     element Panel(cz/SliderGallery/NextButton)
      {
         metrics_mode pixels
         material cz/SliderGallery/NextButton/mat
         horz_align right
         vert_align center

         left -128
         top  -64
         width 128
         height 128
           
      }


}

