CaptureFace
{
    
    container BorderPanel(CaptureFace/Image)
    {
        metrics_mode relative  
        material CaptureFace
        //left 0
        //width 1.0
        //top 0
       // height 1.0

        uv_coords 0 0.2968 0.9375 1.0


    }
    
}
  
